<div class="relative mb-5">
    <button 
            class="bg-gradient-to-tl from-emerald-400 to-emerald-500 hover:from-emerald-500 hover:to-emerald-500 text-white transition-all font-semibold tracking-wide rounded-full px-5 py-2 w-full"
            (click)="toggleOptions()"
        >
        <fa-icon [icon]="faPlus" />
        <span class="p-1.5">Prześlij</span>
    </button>
    @if (!isOptionsHidden) {
        <div class="absolute right-0 z-1 w-full px-2 font-medium">
            <div class="mt-2 w-full origin-top-right rounded-md bg-white shadow-lg ring-1 ring-slate-200">
                <form class="w-full flex flex-col">
                    <label for="file-upload" class="cursor-pointer text-slate-700 hover:bg-zinc-100 group block w-full px-4 py-2.5 text-left text-sm">
                        <fa-icon [icon]="faFile" size="lg" />
                        <span class="pl-2.5 group-hover:underline underline-offset-2">Prześlij pliki</span>
                        <input 
                            id="file-upload"
                            name="file" 
                            type="file" 
                            class="sr-only" 
                            (change)="fileInput($event.target)"
                            multiple
                        >
                        </label>
                    <label for="directory-upload" class="cursor-pointer text-slate-700 hover:bg-zinc-100 group block w-full px-4 py-2.5 text-left text-sm">
                        <fa-icon [icon]="faFolder" size="lg" />
                        <span class="pl-1.5 group-hover:underline underline-offset-2">Prześlij folder</span>
                        <input 
                            id="directory-upload" 
                            name="directory" 
                            type="file" 
                            class="sr-only" 
                            (change)="fileInput($event.target)"
                            directory webkitdirectory mozdirectory
                        >
                    </label>
                </form>
            </div>
        </div>
    }
</div>