<main class="flex justify-center items-center h-3/4">
    <div>
        <div class="text-center">
            <fa-icon [icon]="faCloud" class="text-emerald-600" size="3x" />
        </div>
        <h2 class="px-6 mt-4 text-center text-2xl font-bold tracking-tight text-gray-900">
            Zaloguj się na swoje konto
        </h2>
        <div
          [ngClass]="{'h-5': auth.loginRequestStatus != 200}"
          class="text-rose-500 font-semibold text-sm text-center mt-5"
        >
          @if (auth.loginRequestStatus == 401) {

              Niepoprawne dane logowania

          } @else if (auth.loginRequestStatus != 200) {
            <div class="relative">
              <div class="absolute -top-4">
                Wystąpił problem z połączeniem, proszę spróbować ponownie póżniej
              </div>
            </div>
          }
        </div>
        <form
            class="flex flex-col gap-5 w-full"
            [ngClass]="{'mt-10': auth.loginRequestStatus == 200}"
            #form="ngForm"
            (ngSubmit)="submit(form, email, password)"
        >
            <label class="font-medium leading-6 text-gray-900 text-sm">
              <div class="flex items-center justify-between">
                Adres email
                @if ((email.touched && email.errors?.['required']) || emailNotValid) {
                  <div class="text-rose-500 text-xs">
                    Pole nie może być puste. Podaj email.
                  </div>
                }
                @if (email.touched && email.invalid && !email.errors?.['required']) {
                  <div class="text-rose-500 text-xs">
                    Podaj prawidłowy adres email.
                  </div>
                }
              </div>
                <input
                    name="email"
                    type="email"
                    autocomplete="email"
                    required
                    class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 text-sm leading-6"
                    [ngClass]="{'ring-rose-500': (email.touched && (email.errors?.['required'] || email.invalid)) || emailNotValid}"
                    (keydown)="removeErrorMessage(true)"
                    [email]="true"
                    ngModel
                    #email="ngModel"
                >
            </label>
            <label class="w-full font-medium leading-6 text-gray-900 text-sm">
                <div class="flex items-center justify-between">
                  Hasło
                  @if ((password.touched && password.errors?.['required']) || passwordNotValid) {
                    <div class="text-rose-500 text-xs">
                      Pole nie może być puste. Podaj hasło.
                    </div>
                  }
                </div>
                <input
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    required
                    class="w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-600 text-sm leading-6"
                    [ngClass]="{'ring-rose-500': (password.touched && password.errors?.['required']) || passwordNotValid}"
                    (keydown)="removeErrorMessage()"
                    [(ngModel)]="passwordField"
                    #password="ngModel"
                >
            </label>
            <button
                type="submit"
                class="flex justify-center w-full py-2 rounded-md bg-emerald-600 hover:bg-emerald-500 text-sm font-semibold leading-6 text-white shadow-sm"
                [ngClass]="{'bg-gray-600': auth.preventLoginFormSubmission, 'hover:bg-gray-600': auth.preventLoginFormSubmission}"
                [disabled]="auth.preventLoginFormSubmission"
            >
              @if (auth.preventLoginFormSubmission) {
                <fa-icon [icon]="faSpinner" class="animate-spin text-white" size="lg" />
              } @else {
                Zaloguj się
              }
            </button>
        </form>
    </div>
</main>
