<app-directory-breadcrumb />
@if (files.pathFileTree.length) {
    <section
        class="bg-white px-4.5 py-1.5 border-x-2 border-y-2 border-transparent max-h-[calc(100vh_-_3rem_-_4rem_-_4.25rem)] overflow-auto rounded-lg grid grid-cols-[3.25rem_minmax(16.666%,_max-content)_1fr_auto] sm:grid-cols-[3.25rem_minmax(16.666%,_max-content)_10%_auto]"
        (scroll)="hideMenu()" 
        (dragover)="dragOver($event)"
        (dragleave)="dragLeave($event)"
        (drop)="drop($event)"
        #section
    >
            <div class="py-4 pr-4 pl-5"></div>
            <div
                class="min-w-52 font-semibold py-4 pr-4"
                [title]="'Sortuj po nazwie (' + (currentSort.sortBy != 'name' || currentSort.order == 'ASC' ? 'A-Z' : 'Z-A') + ')'"
            >
                <button class="group cursor-pointer" (click)="sort('name')">
                    <span class="group-hover:underline underline-offset-2 pr-1.5">Nazwa</span>
                    @if (currentSort.sortBy == 'name') {
                        <fa-icon [icon]="faArrow" />
                    }
                </button>
            </div>
            <div
                class="font-semibold py-4 pr-4"
                [title]="'Sortuj po dacie ' + (currentSort.sortBy != 'date' || currentSort.order == 'ASC' ? 'od najnowszej do najstarszej' : 'od najstarszej do najnowszej')"
            >
                <button class="group cursor-pointer" (click)="sort('date')">
                    <span class="group-hover:underline underline-offset-2 pr-1.5">Data</span>
                    @if (currentSort.sortBy == 'date') {
                        <fa-icon [icon]="faArrow" />
                    }
                </button>
            </div>
            <div
                class="font-semibold underline-offset-2 py-4 pr-5"
                [title]="'Sortuj po rozmiarze ' + (currentSort.sortBy != 'size' || currentSort.order == 'ASC' ? 'od najmniejszego do największego' : 'od największego do najmniejszego')"
            >
                <button class="group cursor-pointer" (click)="sort('size')">
                    <span class="group-hover:underline underline-offset-2 pr-1.5">Rozmiar pliku</span>
                    @if (currentSort.sortBy == 'size') {
                        <fa-icon [icon]="faArrow" />
                    }
                </button>
            </div>

        @for (file of files.pathFileTree; track $index) {

            @if (file.type == 'file' && !files.isLoading) {

                <div class="pl-5 py-3.5 pr-4 border-l-2 border-y-2 border-transparent rounded-l-lg element transition-[background-color]" (contextmenu)="openMenu($event)" [attr.data-id]="$index">
                    <fa-icon
                        [icon]="files.getIcon(file.name.split('.')[file.name.split('.').length - 1].toLowerCase())"
                        size="lg"
                        class="text-slate-600"
                        (contextmenu)="openMenu($event)"
                    />
                </div>
                <div class="pl-0.5 py-3.5 pr-4 border-y-2 border-transparent element transition-[background-color]" (contextmenu)="openMenu($event)" [attr.data-id]="$index">
                    {{file.name}}
                </div>
                <div class="pl-0.5 py-3.5 pr-4 border-y-2 border-transparent element transition-[background-color]" (contextmenu)="openMenu($event)" [attr.data-id]="$index">
                    {{file.date | date:'shortDate'}}
                </div>
                <div class="pl-0.5 py-3.5 pr-3 border-y-2 border-r-2 border-transparent rounded-r-lg element transition-[background-color]" (contextmenu)="openMenu($event)" [attr.data-id]="$index">
                    {{file.size! | memoryUnit}}
                </div>

            } @else if (!files.isLoading) {

                <div class="pl-5 py-3.5 pr-4 border-l-2 border-y-2 border-transparent rounded-l-lg element transition-[background-color]" (contextmenu)="openMenu($event)" [attr.data-id]="$index">
                    <fa-icon 
                        [icon]="faFolder" 
                        size="lg" 
                        class="text-amber-300" 
                        (contextmenu)="openMenu($event)"
                    />
                </div>
                <div
                    class="pl-0.5 py-3.5 pr-4 border-y-2 border-transparent select-none element transition-[background-color]"
                    (contextmenu)="openMenu($event)"
                    [attr.data-id]="$index"
                >
                    <span
                      class="cursor-pointer hover:underline underline-offset-2"
                      [title]="'Przejdź do folderu ' + file.name"
                      (click)="files.changeLocation(files.path + '/' + file.name)"
                      (contextmenu)="openMenu($event)"
                    >
                      {{file.name}}
                    </span>
                </div>
                <div class="pl-0.5 py-3.5 pr-4 border-y-2 border-transparent element transition-[background-color]" (contextmenu)="openMenu($event)" [attr.data-id]="$index">
                    {{getLatestChangeDate(file) | date:'shortDate'}}
                </div>
                <div class="pl-0.5 py-3.5 pr-3 border-y-2 border-r-2 border-transparent rounded-r-lg element transition-[background-color]" (contextmenu)="openMenu($event)" [attr.data-id]="$index">
                  {{file.size! | memoryUnit}}
                </div>
            }

            @if (!$last) {
                <hr class="col-span-full mx-2" />
            }
        }
    </section>
} @else if (!files.isLoading) {
    <div class="h-[70vh] flex flex-col justify-center items-center gap-8 text-slate-800 text-2xl font-medium">
        <fa-icon [icon]="faFolderOpen" class="text-sky-300 -rotate-12" size="6x"/>
        Ten folder jest pusty
    </div>
}

<div
    class="absolute right-0 z-1 font-medium min-w-52"
    [ngClass]="{'invisible': isMenuHidden}"
    #contextMenu
>
    <div class="mt-2 w-full origin-top-right rounded-md bg-white shadow-lg ring-1 ring-slate-200">
        <div class="w-full flex flex-col">
            <button class="cursor-pointer hover:bg-zinc-100 first:rounded-t-md last:rounded-b-md group block w-full px-4 py-2.5 text-left text-sm" (click)="removeElement()">
                <fa-icon [icon]="faTrashCan" size="lg" class="text-slate-700" />
                <span class="pl-2 group-hover:underline underline-offset-2">Usuń</span>
            </button>
            <button class="cursor-pointer hover:bg-zinc-100 first:rounded-t-md last:rounded-b-md group block w-full px-4 py-2.5 text-left text-sm" (click)="downloadElement()">
                <fa-icon [icon]="faDownload" size="lg" class="text-slate-700" />
                <span class="pl-2 group-hover:underline underline-offset-2">Pobierz</span>
            </button>
            <button class="cursor-pointer hover:bg-zinc-100 first:rounded-t-md last:rounded-b-md group block w-full px-4 py-2.5 text-left text-sm" (click)="changeName()">
                <fa-icon [icon]="faPen" size="lg" class="text-slate-700" />
                <span class="pl-2 group-hover:underline underline-offset-2">Zmień nazwę</span>
            </button>
            <button class="cursor-pointer hover:bg-zinc-100 first:rounded-t-md last:rounded-b-md group block w-full px-4 py-2.5 text-left text-sm" (click)="moveElement()">
                <fa-icon [icon]="faMove" size="lg" class="text-slate-700" />
                <span class="pl-2 group-hover:underline underline-offset-2">Przenieś element</span>
            </button>
        </div>
    </div>
</div>

<app-confirm-dialog [file]="getSelectedFile(selectedId)" (dialogRef)="getConfirmDialogRef($event)" />
<app-rename-dialog [file]="getSelectedFile(selectedId)" (dialogRef)="getRenameDialogRef($event)" />
