@if (branch.type == 'directory') {
    <ul class="">
        <li class="ml-3">
            <div
                class="cursor-pointer select-none p-2 hover:bg-zinc-200 rounded-lg w-fit"
                [ngClass]="{'bg-blue-100 hover:bg-blue-200': this.files.path == this.path}"
            >
                <span class="group py-2" title="Rozwiń folder" (click)="changeIsOpenStatus()">
                    <fa-icon
                      [icon]="faAngle"
                      size="sm"
                      class="text-gray-800 pr-1.5"
                    />
                    <fa-icon
                      [icon]="icon"
                      size="xl"
                      class="text-amber-300 group-hover:text-amber-400"
                    />
                </span>
                <span
                    class="hover:underline underline-offset-2 pl-1.5 truncate"
                    [title]="'Przejdź do folderu ' + branch.name"
                    (click)="changeIsOpenStatusAndLocation()"
                >{{branch.name == 'root' ? 'Twój dysk' : branch.name}}
                </span>
            </div>
            <div [ngClass]="{'hidden': !isOpened}">
                @for (branch of branch.children; track $index) {
                    <app-file-tree-branch
                        [fileTreeBranch]="branch"
                        [directoryOpen]="isParentDirectoryOpened"
                        [path]="path"
                    />
                }
            </div>
        </li>
    </ul>
} @else {
    <li class="ml-5 py-1 mt-1 flex" [title]="branch.name">
        <fa-icon
            [icon]="icon"
            size="xl"
            class="text-slate-600"
        />
        <span class="pl-1.5 truncate">{{name}}</span>.{{extension}}
    </li>
}
